
<div class="container">
    <h2 class="center orange-text">GROUPS</h2>
    <div class="row">
      <div class="col s12 l6">
        <div class="card ">
          <div class="card-image">
            <img src="img/1.jpg" alt="" width="100px" height="300px">
            <a  class="halfway-fab btn-floating orange pulse">
              <i class="material-icons ">favorite</i>
            </a>
          </div>
          <div class="card-content ">
            <span class="card-title">FIRST YEAR</span>
            <p>Put any questions you have , Talk to your classmates , Asking your instructors , Answer assignments , Solve Quizez</p>
          </div>
          <div class="card-action">
            <a href="/first-year" class="btn orange">
      <span>Join</span>
      <i class="material-icons right">directions_walk</i>
    </a>
          </div> 
        </div>
      </div>
      <div class="col s12 l6">
        <div class="card">
          <div class="card-image">
            <img src="img/2.jpg" alt="" width="100px" height="300px">
            <a  class="halfway-fab btn-floating orange pulse">
              <i class="material-icons">favorite</i>
            </a>
          </div>
          <div class="card-content">
            <span class="card-title">SECOND YEAR</span>
            <p>Put any questions you have , Talk to your classmates , Asking your instructors , Answer assignments , Solve Quizez</p>
          </div>
          <div class="card-action">
            <a href="/second-year" class="btn orange">
      <span>Join</span>
      <i class="material-icons right">local_airport</i>
    </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l6">
        <div class="card ">
          <div class="card-image">
            <img src="img/3.jpg" alt="" width="100px" height="300px">
            <a  class="halfway-fab btn-floating orange pulse">
              <i class="material-icons">favorite</i>
            </a>
          </div>
          <div class="card-content ">
            <span class="card-title">THIRD YEAR IS</span>
            <p>Put any questions you have , Talk to your classmates , Asking your instructors , Answer assignments , Solve Quizez</p>
          </div>
          <div class="card-action">
            <a href="/third-year-is" class="btn orange">
      <span>Join</span>
      <i class="material-icons right">touch_app</i>
    </a>
          </div>
        </div>
      </div>
      <div class="col s12 l6">
        <div class="card">
          <div class="card-image">
            <img src="img/4.jpg" alt="" width="100px" height="300px">
            <a  class="halfway-fab btn-floating orange pulse">
              <i class="material-icons">favorite</i>
            </a>
          </div>
          <div class="card-content">
            <span class="card-title">THIRD YEAR CS</span>
            <p>Put any questions you have , Talk to your classmates , Asking your instructors , Answer assignments , Solve Quizez</p>
          </div>
          <div class="card-action">
            <a href="/third-year-cs" class="btn orange">
      <span>Join</span>
      <i class="material-icons right">tag_faces</i>
    </a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l6">
        <div class="card ">
          <div class="card-image">
            <img src="img/5.jpg" alt="" width="100px" height="300px">
            <a  class="halfway-fab btn-floating orange pulse">
              <i class="material-icons">favorite</i>
            </a>
          </div>
          <div class="card-content ">
            <span class="card-title">FOURTH YEAR IS</span>
            <p>Put any questions you have , Talk to your classmates , Asking your instructors , Answer assignments , Solve Quizez</p>
          </div>
          <div class="card-action">
            <a href="/fourth-year-is" class="btn orange">
      <span>Join</span>
      <i class="material-icons right">person_add</i>
    </a>
          </div>
        </div>
      </div>
      <div class="col s12 l6">
        <div class="card">
          <div class="card-image">
            <img src="img/7.jpg" alt="" width="100px" height="300px">
            <a  class="halfway-fab btn-floating orange pulse">
              <i class="material-icons">favorite</i>
            </a>
          </div>
          <div class="card-content">
            <span class="card-title">FOURTH YEAR CS</span>
            <p>Put any questions you have , Talk to your classmates , Asking your instructors , Answer assignments , Solve Quizez</p>
          </div>
          <div class="card-action">
            <a href="/fourth-year-cs" class="btn orange">
      <span>Join</span>
      <i class="material-icons right">visibility</i>
    </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  